@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-black to-gray-900;
  margin: 3vh;
}

button {
  @apply font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2;
}

h1 {
  @apply text-white;
}

img {
  @apply shadow-lg rounded-lg;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.animate-fade {
  animation: fade 0.5s ease-out;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake-interval {
  animation: shake 0.5s ease-in-out 0s 1 normal forwards;
}
